{% extends 'base.html.twig' %}

{% block body %}
    
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      {% for remove in removes %}
        <tr>
                <th scope="row">{{ remove.id }}</th>
                <td>{{ remove.firstName }}</td>
                <td>{{ remove.lastName }}</td>
                <td>{{ remove.email }}</td>
                 <td>
                     <a href="/restore/{{ remove.id }}" class="btn btn-success"> Restore </a>
                      <a href="/delete/{{ remove.id }}" class="btn btn-danger"> Delete </a>
                 </td>
        </tr>
    {%endfor%}

  </tbody>
</table>

{% endblock  %}